---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?key=1dae7a14b118428896d202223232304&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 1dae7a14b118428896d202223232304
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 21:39:06
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c36fe94bb77139d3f26be907ed07ade7
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682285946,"localtime":"2023-04-23
        15:39"},"current":{"last_updated_epoch":1682285400,"last_updated":"2023-04-23
        15:30","temp_c":11.6,"temp_f":52.9,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":110,"wind_dir":"ESE","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":50,"feelslike_c":10.5,"feelslike_f":50.9,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":7.4,"gust_kph":11.9}}'
  recorded_at: Sun, 23 Apr 2023 21:39:06 GMT
recorded_with: VCR 6.1.0
